
@font-face{
  font-family: 'abc';
  src: url('/public/fonts/Roboto-Medium.ttf');
}

body{
  padding: 0vw;
  margin: 0vw;
  font-family:'abc';
  width: 100%;
  background: #323334; 
}

  .slide-bar{
    width: 100vw;
    margin: auto;
  }

  .slide-bar img{
    width: 100vw;
    margin-bottom: 10%;  
  }

  @media screen and (max-width: 480px) {
    
    
@font-face{
font-family: 'abc';
src: url('/public/fonts/Roboto-Medium.ttf');
}

body{
padding: 0vw;
margin: 0vw;
font-family:'abc';
width: 100%;
background: #323334;
}
.slide-bar{
  width: 100vw;
  margin: auto;
}

.slide-bar img{
  width: 100vw;  
  height: 95vw;
  margin-bottom: 5vw;
}

  }
